* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Navigatiemenu top*/
header {
  position: relative;
}

header nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: rgba(38, 60, 73, 0.9);
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

header ul li {
  list-style-type: none;
  padding: 0 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: chocolate;
}

header ul li #afspraak {
  padding: 15px 30px;
  background-color: saddlebrown;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header ul li #afspraak:hover {
  background-color: chocolate;
  color: black;
}

header #logo {
  font-size: 50px;
  text-decoration: none;
  padding: 0px 20px;
  margin: 5px;
  border: 2px solid white;
  color: white;
  background-color: #263c49;
  font-family: "Economica", sans-serif;
}

/*intro*/
.intro {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/3day-shave-course-new.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/3day-shave-course-new.jpg);
  background-size: cover;
  height: 800px;
  text-align: center;
  color: white;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  letter-spacing: 4px;
}

.intro h1 {
  -webkit-animation: fade-names 1s forwards;
          animation: fade-names 1s forwards;
  padding-top: 260px;
  font-size: 100px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.intro h2 {
  padding-top: 70px;
  -webkit-animation: fade-names 1s forwards;
          animation: fade-names 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.intro h1,
.intro h2 {
  font-family: "Economica", sans-serif;
  font-weight: 100;
  opacity: 0;
}

@-webkit-keyframes fade-names {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

@keyframes fade-names {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

/*markup content*/
.content {
  margin: 50px 300px;
}

.content h2 {
  color: #444;
  position: relative;
}

.content h2::after {
  content: "";
  width: 70px;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-bottom: #aaa8a8 solid 2px;
}

.content p {
  margin: 20px 0;
}

/*afspraak maken*/
#afspraak-maken .shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#afspraak-maken .emmen-btn::after {
  background-image: url(/images/emmen-front.jpg);
}

#afspraak-maken .zwolle-btn:after {
  background-image: url(/images/Stellar-Bakkes-13.jpg);
}

#afspraak-maken .emmen-btn,
#afspraak-maken .zwolle-btn {
  width: 450px;
  height: 310px;
  background: #000;
  position: relative;
}

#afspraak-maken .emmen-btn h3,
#afspraak-maken .zwolle-btn h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  padding: 10px 20px;
  background-color: chocolate;
  font-weight: 200;
}

#afspraak-maken .emmen-btn h3:hover,
#afspraak-maken .zwolle-btn h3:hover {
  text-decoration: underline;
}

#afspraak-maken .emmen-btn::after,
#afspraak-maken .zwolle-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#afspraak-maken .emmen-btn:hover h3,
#afspraak-maken .zwolle-btn:hover h3 {
  color: #fff;
  background-color: saddlebrown;
}

#afspraak-maken .emmen-btn:hover::after,
#afspraak-maken .zwolle-btn:hover::after {
  opacity: 0.2;
}
/*# sourceMappingURL=style.css.map */