/*variables*/
$width-content-xs: 100vw;
$width-content-sm-and-up: 70vw;
$blue-filter: linear-gradient(rgba($color: #083450, $alpha: 0.9), rgba($color: #263c49, $alpha: 0.7));
$margin-for-100vw: -$width-content-sm-and-up/4; 
$main-blue-color: #263c49;
$main-text-color: #222;

/*functions*/
@function height($width) {
  @return $width / 1.6;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

html,
body {
	overflow-x: hidden;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*Navigatiemenu top*/

.navbar {
	background-color: rgba($color: #000, $alpha: 0.9);

	.navbar-toggler {
		&:focus {
			box-shadow: none;
		}
	}

	.navbar-nav {
		a {
			color: white;
		}
	}

	#logo {
		font-size: 50px;
		padding: 0px 15px;
		border: 2px solid #fff;
		font-family: 'Economica', sans-serif;
		color: white;
	}
}

/*main*/
main {
	.bg-navbar {
		height: 80px;
		background-color: black;
	}
}

/*intro*/
.intro {
	background: $blue-filter,
		url(../../images/3day-shave-course.jpg);
	background-size: cover;
	background-position: center;
	height: 90vh;
	text-align: center;
	color: white;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black,
		1px -1px 0 black, -1px 1px 0 black;
	letter-spacing: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	.company-name {
		animation: fade-names 1s linear forwards;
		animation-delay: 0.5s;
		opacity: 0;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		margin-top: -20px;
		font-size: 30px;
	}

	h1,
	h2 {
		font-family: 'Economica', sans-serif;
		font-weight: 100;
	}

	@keyframes fade-names {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}

/*general markup content*/
.content {
	margin: auto;
	width: $width-content-xs;

	& > section {
		padding: 100px 0 0;
		min-height: 100vh;

		& > p {
			margin: 0 15px 40px;
			font-size: 14px;
		}
	}

	h2 {
		color: $main-text-color;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 40px;
		text-align: left;
	}

	h3 {
		font-size: 22px;
	}

	h2,
	p,
	.treatments-container {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.btn, .submit-btn {
	padding: 10px 20px;
	background-color: $main-blue-color;
	font-weight: 200;
	text-decoration: none;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	border: none;
}

.submit-btn {
	font-weight: 400;
}

.modal-btn {
	background-color: transparent;
	border: none;
	outline: none;
}

/*parallax*/

.parallax-appointment {
	background: $blue-filter, url(/images/barberpole.jpg);
}

.parallax-about {
	background: $blue-filter, url(/images/about-parallax.jpg);
}

.parallax-treatments {
	background: $blue-filter, url(/images/mes.jpg);
}

.parallax-webshop {
	background: $blue-filter, url(/images/cement-clay.jpg);
}

.parallax-barbertrain {
	background: $blue-filter, url(/images/barbertrain-parallax.jpeg);
}

.parallax {
	height: 150px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 100px $margin-for-100vw 0;
}

/*make appointment*/
.make-appointment {

	.modal-btn-appointment {
		outline: none;
		border: none;
		text-decoration: underline;
	}

	.shops > div:first-child {
		margin-bottom: 50px;
	}

	.shop-container {
		width: 100%;
		

		[class*="container"] {
			height: height($width-content-xs);
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
	
			a {
				position: absolute;
				bottom: 50%;
				transform: translateY(50%);
				z-index: 1;
				width: 100%;
			}
		}
	}

	.store-hours {
		padding-top: 15px;
	}

	.hours {
		display: flex;
		justify-content: space-between;
		font-size: 10px;
	}

	.emmen-bg-container {
		background: linear-gradient(rgba($color: grey, $alpha: 0.2), rgba($color: grey, $alpha: 0.4)),
			url(../../images/emmen-front-grey.jpg);
	}

	.zwolle-bg-container {
		background: linear-gradient(rgba($color: grey, $alpha: 0.2), rgba($color: grey, $alpha: 0.4)),
			url(../../images/Stellar-Bakkes-13-grey.jpg);
	}
}

/*about*/

.glide {
	position: relative;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  
    &:focus {
      outline: 0;
    }
  }

  img {
		width: 100%;
		height: 100%;
  }
}

.glide__arrows {
  position: absolute;
	top: 50%;
	transform: translateY(-55%);
  width: 100%;
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

  button {
    font-size: 35px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}

.glide__bullet {
  &--active {
    opacity: 0.5;
  }
}

/*treatments*/
.treatments {

	.treatments-container {
		margin-top: 50px;

		.category-container {
			margin-bottom: 40px;
			padding: 0;
		}

		.treatment-list {
			padding: 0;
	
			.treatment-card {
				list-style-type: none;
				margin: 15px 0;

				.card-text {
					margin-right: 15px;
					margin-left: 10px;

					img {
						float: right;
						margin-left: 10px;
						width: 35%;
					}

					h5 {
						font-size: 16px;
						margin-bottom: 10px;
					}

					p {
						font-size: 8px;
						margin: 0;
					}
				}
			}
		}
	}
}

/*webshop and barbertrain*/

.main-container {
	margin: 40px 0;

	img {
		width: 100%;
	}
}

.text-container {
	display: flex;
	flex-direction: column;
	
	a {
		padding: 10px 20px;
		margin: 40px auto;
	}
}

/*contact*/

.contact-container {
	margin-top: 40px;
}

.contact-form-container {

	.title {
		margin-bottom: 0;
	}

	form {
		margin-bottom: 40px;

		.form-group {
			position: relative;
			margin: 0 15px;

			input::placeholder, textarea::placeholder {
				color: #777;
				transition: color 0.1s;		
				transition-delay: 0.1s;
			}

			input:focus::placeholder, textarea:focus::placeholder {
					color: transparent;	
			}

			span {
				position: absolute;
				left: 20px;
				top: 10px;
				font-size: 14px;
				background-color: white;
				padding: 0 5px;
				z-index: 2000;
				opacity: 0;
				transition: 0.1s;
			}
		}
	
		.input {
			width: 100%;
			margin: 20px 0;
			border: 2px solid $main-blue-color;
			padding: 10px 20px;
			outline: none;
			z-index: 1000;
		}
	
		.textarea {

			textarea {
				resize: none;
				overflow-y: auto;
				height: 100px;
			}
		}
		.submit-btn {
			margin: auto;
		}
	}
}

.contact-shop-container {
	margin-top: 40px;

	.contact-info {
		margin: 10px 15px 20px 15px;

		a {
			text-decoration: none;
			color: black;
		}

		.social-media {
			margin-bottom: 0;
			display: flex;

			a {
				display: flex;
				flex-direction: column;
			}

			i {
				color: #000;
				font-size: 24px;
				margin-left: 15px;
				transition: color 0.2s;
			}
		}
	}
	.map-info-container {
		iframe {
			width: 100%;
			height: 50vw;
		}
	}
}

/*footer*/
footer {
	background-color: black;
	padding: 10px 0;
	font-size: 10px;
	ul {
		padding: 0;

		li {
			list-style-type: none;
			color: white;
			

			p {
				margin: auto;
			}

			.modal-btn {
				color: white;
				outline: none;
				border: none;
			}
		}

		.footer-group {
			width: 100vw;
		}
	}
}

/*modal*/
body, nav {
  padding-right: 0px !important
}

.contact-modal {
	.modal, #backdrop {
		display: none;
		opacity: 0;
		transition: opacity 0.3s;
	}
	
	.modal-open {
		overflow-y: auto;
	}
}

.modal-content {
	padding: 5px;
	border-radius: 0;
	border: 2px solid $main-blue-color;
}

.main-modal {
	.modal-header {
		padding-left: 21px;
	}

	.modal-body {
		text-align: start;
	}
}

.modal-body {
	padding: 20px;
	border: 2px solid $main-blue-color;
	text-align: center;

	h4 {
		margin-bottom: 5px;
		font-size: 20px;
	}

	h4:not(.first-title-top) {
		margin-top: 24px;
	}

	p {
		//margin-bottom: 24px;
		font-size: 12px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

@media (hover: hover) {
	.content {
		a:hover, .submit-btn:hover {
			text-decoration: underline;
			color: white;
		}

		.social-media {
			i:hover {
				color: lighten($main-blue-color, 10%);
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	.modal-btn:hover {
		text-decoration: underline;
	}

	.shop-container {
		[class*="container"] {
			&:hover {
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}

	.emmen-bg-container {
		&:hover {
			background: linear-gradient(rgba($color: #192730, $alpha: 0.9), rgba($color: #263c49, $alpha: 0.8)),
				url(../../images/emmen-front.jpg);
		}
	}

	.zwolle-bg-container {
		&:hover {
			background: linear-gradient(rgba($color: #192730, $alpha: 0.9), rgba($color: #263c49, $alpha: 0.8)),
				url(../../images/Stellar-Bakkes-13.jpg);
		}
	}
}

@media (hover: none) {
  .glide__arrows {
    button {
      display: none;
    }
  }
}

//sm size
@media only screen and (min-width: 576px) {
	.intro {
		h1 {
			font-size: 150px;
		}
		h2 {
			font-size: 50px;
		}
	}

	.content {
		width: $width-content-sm-and-up;

		& > section > p {
			margin-left: 0;
			margin-right: 0;
		}

		h2, p, .treatments-container, .social-media {
			margin-left: 0;
			margin-right: 0;
		}

		.shop-container {

			[class*="container"] {
				height: height($width-content-sm-and-up);
			}
		}
	}

	.parallax {
		height: 200px;
	}

	.contact-form-container {
		form {
			.form-group {
				margin: 0;
			}
		}
	}

	.contact-shop-container {
		.map-info-container {
			iframe {
				height: 30vw;
			}
		}
		.contact-info {
			margin: 10px 0 20px 0;
		}
	}
}

//md size
@media only screen and (min-width: 768px) {

	.navbar {
		background-color: rgba($color: #000, $alpha: 0.9);
		padding: 0;

		#navbarSupportedContent {
			height: 74px;

			ul {
				height: 74px;
			}
		}

		#logo {
			margin: 10px 0;
			transition: all 0.2s;
		}

		.nav-link {
			height: 100%;
			display: flex;
			align-items: center;
		}

		.active {
			background-color: $main-blue-color;
		}
	}
}

//lg size
@media only screen and (min-width: 992px) {
	.make-appointment {
		.shops > div:first-child {
			margin-bottom: 0px;
		}
	}

	.content {
		& > section {
			min-height: 50vh;
		}

		.shop-container {
			width: 49%;

			[class*="container"] {
				height: height($width-content-sm-and-up / 2);
			}
		}

		.contact-form-container {
			width: 47%;
		}

		.contact-shop-container {
			width: 47%;
			margin-top: 0;

			iframe {
				width: 100%;
				height: ($width-content-sm-and-up / 4)
			}
		}
	}

	.main-container {
		.text-container {
			padding-right: 20px;
		}

		img {
			width: 60%;
		}

		a {
			margin: auto;
		}
	}

	footer {
		font-size: 14px;
		padding: 20px 0;
	}
}

//xl size
@media only screen and (min-width: 1200px) {
	.content {
		.shop-container {
			.hours {
				font-size: 16px;
			}
		}

		.map-info-container {
			iframe {
				height: 12vw;
			}
			
			.contact-info {
				p {
					margin-bottom: 5px;
				}
			}
		}
	}

	footer {
		font-size: 12px;
	}
}
