/*variables*/
$width-content-xs: 100vw;
$width-content-sm-and-up: 70vw;
$blue-filter: linear-gradient(rgba($color: #083450, $alpha: 0.9), rgba($color: #263c49, $alpha: 0.7));
$margin-for-100vw: -$width-content-sm-and-up/4; 
$main-blue-color: #263c49;

/*functions*/
@function height($width) {
  @return $width / 1.6;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

html,
body {
	overflow-x: hidden;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*Navigatiemenu top*/

.navbar {
	background-color: rgba($color: #000, $alpha: 0.9);

	.navbar-toggler {
		&:focus {
			box-shadow: none;
		}
	}

	.navbar-nav {
		a {
			color: white;
		}
	}

	#logo {
		font-size: 50px;
		padding: 0px 15px;
		border: 2px solid #fff;
		font-family: 'Economica', sans-serif;
		color: white;
	}
}

/*main*/
main {
	.bg-navbar {
		height: 80px;
		background-color: black;
	}
}

/*intro*/
.intro {
	background: $blue-filter,
		url(../../images/3day-shave-course.jpg);
	background-size: cover;
	background-position: center;
	height: 90vh;
	text-align: center;
	color: white;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black,
		1px -1px 0 black, -1px 1px 0 black;
	letter-spacing: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	.company-name {
		animation: fade-names 1s linear forwards;
		animation-delay: 0.5s;
		opacity: 0;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		margin-top: -20px;
		font-size: 30px;
	}

	h1,
	h2 {
		font-family: 'Economica', sans-serif;
		font-weight: 100;
	}

	@keyframes fade-names {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}

/*markup content*/
.content {
	margin: auto;
	width: $width-content-xs;

	& > section {
		padding: 100px 0 0;
		min-height: 100vh;

		& > p {
			margin: 40px 15px;
			font-size: 14px;
		}
	}

	h2 {
		color: #222;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 20px;
		text-align: left;
	}

	h3 {
		font-size: 22px;
	}

	h2,
	p,
	.treatments-container {
		margin: 0 15px;
	}

	a {
		padding: 10px 0;
		background-color: $main-blue-color;
		font-weight: 200;
		text-decoration: none;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}
}

/*parallax*/

.parallax-appointment {
	background: $blue-filter, url(/images/barberpole.jpg);
}

.parallax-about {
	background: $blue-filter, url(/images/about-parallax.jpg);
}

.parallax-treatments {
	background: $blue-filter, url(/images/mes.jpg);
}

.parallax-webshop {
	background: $blue-filter, url(/images/cement-clay.jpg);
}

.parallax-barbertrain {
	background: $blue-filter, url(/images/barbertrain-parallax.jpeg);
}

.parallax {
	height: 150px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 100px $margin-for-100vw 0;
}

/*make appointment*/
.make-appointment {
	.shops > div:first-child {
		margin-bottom: 50px;
	}

	.shop-container {
		width: 100%;
		

		[class*="container"] {
			height: height($width-content-xs);
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
	
			a {
				position: absolute;
				bottom: 50%;
				transform: translateY(50%);
				z-index: 1;
				width: 100%;
			}
		}
	}

	.store-hours {
		padding-top: 15px;
	}

	.hours {
		display: flex;
		justify-content: space-between;
		font-size: 10px;
	}

	.emmen-bg-container {
		background: linear-gradient(rgba($color: grey, $alpha: 0.2), rgba($color: grey, $alpha: 0.4)),
			url(../../images/emmen-front-grey.jpg);
	}

	.zwolle-bg-container {
		background: linear-gradient(rgba($color: grey, $alpha: 0.2), rgba($color: grey, $alpha: 0.4)),
			url(../../images/Stellar-Bakkes-13-grey.jpg);
	}
}

/*about*/

.glide {
	position: relative;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  
    &:focus {
      outline: 0;
    }
  }

  img {
		width: 100%;
		height: 100%;
  }
}

.glide__arrows {
  position: absolute;
	top: 50%;
	transform: translateY(-55%);
  width: 100%;
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

  button {
    font-size: 35px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}

.glide__bullet {
  &--active {
    opacity: 0.5;
  }
}

@media (hover: none) {
  .glide__arrows {
    button {
      display: none;
    }
  }

}

/*treatments*/
.treatments {

	.treatments-container {
		margin-top: 50px;

		.category-container {
			margin-bottom: 40px;
			padding: 0;
		}

		.treatment-list {
			padding: 0;
	
			.treatment-card {
				list-style-type: none;
				margin: 15px 0;

				.card-text {
					margin-right: 15px;
					margin-left: 10px;

					img {
						float: right;
						margin-left: 10px;
						width: 35%;
					}

					h5 {
						font-size: 16px;
						margin-bottom: 10px;
					}

					p {
						font-size: 8px;
						margin: 0;
					}
				}
			}
		}
	}
}

/*webshop and barbertrain*/

	.main-container {
		margin: 40px 0;

		img {
			width: 100%;
		}
	}


.text-container {
	display: flex;
	flex-direction: column;
	
	a {
		padding: 10px 20px;
		margin: 40px auto;
	}
}

@media (hover: hover) {
	.content {
		a:hover {
			text-decoration: underline;
		}
	}

	.shop-container {
		[class*="container"] {
			&:hover {
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}

	.emmen-bg-container {
		&:hover {
			background: linear-gradient(rgba($color: #192730, $alpha: 0.9), rgba($color: #263c49, $alpha: 0.8)),
				url(../../images/emmen-front.jpg);
		}
	}

	.zwolle-bg-container {
		&:hover {
			background: linear-gradient(rgba($color: #192730, $alpha: 0.9), rgba($color: #263c49, $alpha: 0.8)),
				url(../../images/Stellar-Bakkes-13.jpg);
		}
	}
}

//sm size
@media only screen and (min-width: 576px) {
	.intro {
		h1 {
			font-size: 150px;
		}
		h2 {
			font-size: 50px;
		}
	}

	.content {
		width: $width-content-sm-and-up;

		& > section > p {
			margin-left: 0;
			margin-right: 0;
		}

		h2, p, .treatments-container {
			margin-left: 0;
			margin-right: 0;
		}

		.shop-container {

			[class*="container"] {
				height: height($width-content-sm-and-up);
			}
		}
	}

	.parallax {
		height: 200px;
	}
}

//md size
@media only screen and (min-width: 768px) {

	.navbar {
		background-color: rgba($color: #000, $alpha: 0.9);
		padding: 0;

		#navbarSupportedContent {
			height: 74px;

			ul {
				height: 74px;
			}
		}

		#logo {
			margin: 10px 0;
			transition: all 0.2s;
		}

		.nav-link {
			height: 100%;
			display: flex;
			align-items: center;
		}

		.active {
			background-color: $main-blue-color;
		}
	}
}

//lg size
@media only screen and (min-width: 992px) {
	.make-appointment {
		.shops > div:first-child {
			margin-bottom: 0px;
		}
	}

	.content {

		.shop-container {
			width: 49%;

			[class*="container"] {
				height: height($width-content-sm-and-up / 2);
			}
		}
	}

	.main-container {
		img {
			width: 50%;
		}

		a {
			margin: auto;
		}
	}
}

//xl size
@media only screen and (min-width: 1200px) {
	.content {
		.shop-container {
			.hours {
				font-size: 16px;
			}
		}
	}
}
