* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
}

html,
body {
	overflow-x: hidden;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*Navigatiemenu top*/
header {
	position: relative;

	nav {
		width: 100vw;
		display: flex;
		position: fixed;
		z-index: 2;
		background-color: rgba($color: #263c49, $alpha: 0.9);
	}

	ul {
		display: flex;
		margin-left: 100px;

		li {
			list-style-type: none;
			padding: 0 50px;
			align-self: center;
			font-size: 16px;

			a {
				text-decoration: none;
				color: white;
			}

			a:hover {
				color: chocolate;
			}

			#appointment {
				padding: 15px 30px;
				background-color: saddlebrown;
				transition: all 0.2s;
			}

			#appointment:hover {
				background-color: chocolate;
				color: black;
			}
		}
	}

	#logo {
		font-size: 50px;
		text-decoration: none;
		padding: 0px 20px;
		margin: 5px;
		border: 2px solid white;
		color: white;
		background-color: #263c49;
		font-family: "Economica", sans-serif;
	}
}

/*intro*/
.intro {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/3day-shave-course.jpg);
	background-size: cover;
	height: 800px;
	text-align: center;
	color: white;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black,
		1px -1px 0 black, -1px 1px 0 black;
	letter-spacing: 4px;
	display: flex;
	flex-direction: column;

	.company-name {
		padding: 0 20px;
		margin: auto;
		border: 5px solid #fff;
		animation: fade-names 1s linear forwards;
		animation-delay: 0.5s;
	}

	h1 {
		font-size: 150px;
	}

	h2 {
		margin-top: -20px;
		padding-bottom: 20px;
		font-size: 50px;
	}

	h1,
	h2 {
		font-family: "Economica", sans-serif;
		font-weight: 100;
	}

	@keyframes fade-names {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}

/*markup content*/
.content {
	margin: 0 300px;

	& > div {
		padding: 80px 0 10px 0;

		& > p {
			margin-bottom: 20px;
		}
	}

	h2 {
		color: #444;
		position: relative;
		margin-bottom: 20px;

		&::after {
			content: "";
			width: 70px;
			position: absolute;
			left: 0;
			bottom: -2px;
			border-bottom: #aaa8a8 solid 2px;
		}
	}
}

/*make appointment*/
.make-appointment {
	.shops {
		display: flex;
		justify-content: space-between;

		.shop-text {
			margin: 5px 0;
		}

		.emmen-container,
		.zwolle-container {
			width: 450px;
		}

		.store-hours {
			padding-top: 10px;
		}

		.hours {
			display: flex;
			justify-content: space-between;
		}

		.emmen-btn {
			&::after {
				background-image: url(../../images/emmen-front.jpg);
			}
		}

		.zwolle-btn {
			&:after {
				background-image: url(../../images/Stellar-Bakkes-13.jpg);
			}
		}

		.emmen-btn,
		.zwolle-btn {
			height: 310px;
			background: #000;
			position: relative;

			h3 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
				color: #fff;
				padding: 10px 20px;
				background-color: chocolate;
				font-weight: 200;
			}

			h3:hover {
				text-decoration: underline;
			}

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: "";
				background-size: cover;
				background-repeat: no-repeat;
				opacity: 0.9;
				transition: all 0.2s;
			}
		}

		.emmen-btn:hover,
		.zwolle-btn:hover {
			h3 {
				color: #fff;
				background-color: saddlebrown;
			}

			&::after {
				opacity: 0.2;
			}
		}
	}
}

/*about*/

.img-container {
	display: grid;
	width: 100%;
	height: 450px;
	gap: 40px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"salon salon materials"
		"salon salon blowdry";

	div {
		background-size: cover;
	}
}

#salon {
	grid-area: salon;
	background-image: url(../../images/emmen-salon.jpg);
}

#materials {
	grid-area: materials;
	background-image: url(../../images/materials-bakkes.jpg);
}

#blowdry {
	grid-area: blowdry;
	background-image: url(../../images/andre-emmen.jpg);
}

.text-container {
	p:first-of-type {
		margin-bottom: 10px;
	}
}
