/*variables*/
/*functions*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Navigatiemenu top*/
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-nav a {
  color: white;
}

.navbar #logo {
  font-size: 50px;
  padding: 0px 15px;
  border: 2px solid #fff;
  font-family: 'Economica', sans-serif;
  color: white;
}

/*main*/
main .bg-navbar {
  height: 80px;
  background-color: black;
}

/*intro*/
.intro {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 39, 48, 0.9)), to(rgba(38, 60, 73, 0.8))), url(../../images/3day-shave-course.jpg);
  background: linear-gradient(rgba(25, 39, 48, 0.9), rgba(38, 60, 73, 0.8)), url(../../images/3day-shave-course.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  text-align: center;
  color: white;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  letter-spacing: 4px;
}

.intro .company-name {
  top: 45%;
}

.intro h1 {
  font-size: 100px;
}

.intro h2 {
  margin-top: -20px;
  font-size: 30px;
}

.intro h1,
.intro h2 {
  font-family: 'Economica', sans-serif;
  font-weight: 100;
}

@-webkit-keyframes fade-names {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-names {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*markup content*/
.content {
  margin: auto;
  width: 100vw;
}

.content > section {
  padding: 80px 0 10px 0;
  min-height: 100vh;
}

.content > section > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content h2 {
  color: #222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.content h2,
.content p {
  margin: 0 5px;
}

/*make appointment*/
.make-appointment .shop-container {
  width: 100%;
  margin-bottom: 15px;
}

.make-appointment .store-hours {
  padding-top: 5px;
}

.make-appointment .store-hours p {
  margin: 0 5px;
}

.make-appointment .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.make-appointment .emmen-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.2)), to(rgba(128, 128, 128, 0.4))), url(../../images/emmen-front.jpg);
  background: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.4)), url(../../images/emmen-front.jpg);
}

.make-appointment .emmen-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 39, 48, 0.9)), to(rgba(38, 60, 73, 0.8))), url(../../images/emmen-front.jpg);
  background: linear-gradient(rgba(25, 39, 48, 0.9), rgba(38, 60, 73, 0.8)), url(../../images/emmen-front.jpg);
  background-position: center;
}

.make-appointment .zwolle-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.2)), to(rgba(128, 128, 128, 0.4))), url(../../images/Stellar-Bakkes-13.jpg);
  background: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.4)), url(../../images/Stellar-Bakkes-13.jpg);
}

.make-appointment .zwolle-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 39, 48, 0.9)), to(rgba(38, 60, 73, 0.8))), url(../../images/Stellar-Bakkes-13.jpg);
  background: linear-gradient(rgba(25, 39, 48, 0.9), rgba(38, 60, 73, 0.8)), url(../../images/Stellar-Bakkes-13.jpg);
  background-position: right;
}

.make-appointment .emmen-btn,
.make-appointment .zwolle-btn {
  height: 62.5vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.make-appointment .emmen-btn:hover,
.make-appointment .zwolle-btn:hover {
  background-repeat: no-repeat;
}

.make-appointment .emmen-btn a,
.make-appointment .zwolle-btn a {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  text-align: center;
  z-index: 1;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  background-color: #2e3d53;
  font-weight: 200;
  text-decoration: none;
}

.make-appointment .emmen-btn h4,
.make-appointment .zwolle-btn h4 {
  font-size: 18px;
  margin: 0;
}

.make-appointment .emmen-btn h4:hover,
.make-appointment .zwolle-btn h4:hover {
  text-decoration: underline;
}

/*about*/
.img-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 450px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'salon salon materials' 'salon salon blowdry';
}

.img-container div {
  background-size: cover;
}

#salon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: salon;
  background-image: url(../../images/emmen-salon.jpg);
}

#materials {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: materials;
  background-image: url(../../images/materials-bakkes.jpg);
}

#blowdry {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: blowdry;
  background-image: url(../../images/andre-emmen.jpg);
}

@media only screen and (min-width: 576px) {
  .intro h1 {
    font-size: 150px;
  }
  .intro h2 {
    font-size: 50px;
  }
  .content {
    width: 70vw;
  }
  .content .emmen-btn,
  .content .zwolle-btn {
    height: 43.75vw;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
  }
  .navbar #navbarSupportedContent {
    height: 74px;
  }
  .navbar #navbarSupportedContent ul {
    height: 74px;
  }
  .navbar #logo {
    margin: 10px 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar .nav-link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .active {
    background-color: #263c49;
  }
  .content {
    width: 90vw;
  }
  .content h2,
  .content p {
    margin: 0;
  }
  .content .shop-container {
    width: 49.5%;
  }
  .content .emmen-btn,
  .content .zwolle-btn {
    height: 28.125vw;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    margin: 0 300px;
  }
}
/*# sourceMappingURL=styles.css.map */