/*variables*/
/*functions*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Navigatiemenu top*/
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-nav a {
  color: white;
}

.navbar #logo {
  font-size: 50px;
  padding: 0px 15px;
  border: 2px solid #fff;
  font-family: 'Economica', sans-serif;
  color: white;
}

/*main*/
main .bg-navbar {
  height: 80px;
  background-color: black;
}

/*intro*/
.intro {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 52, 80, 0.9)), to(rgba(38, 60, 73, 0.7))), url(../../images/3day-shave-course.jpg);
  background: linear-gradient(rgba(8, 52, 80, 0.9), rgba(38, 60, 73, 0.7)), url(../../images/3day-shave-course.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  text-align: center;
  color: white;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  letter-spacing: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .company-name {
  -webkit-animation: fade-names 1s linear forwards;
          animation: fade-names 1s linear forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

.intro h1 {
  font-size: 100px;
}

.intro h2 {
  margin-top: -20px;
  font-size: 30px;
}

.intro h1,
.intro h2 {
  font-family: 'Economica', sans-serif;
  font-weight: 100;
}

@-webkit-keyframes fade-names {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-names {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*general markup content*/
.content {
  margin: auto;
  width: 100vw;
}

.content > section {
  padding: 100px 0 0;
  min-height: 100vh;
}

.content > section > p {
  margin: 0 15px 40px;
  font-size: 14px;
}

.content h2 {
  color: #222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
  text-align: left;
}

.content h3 {
  font-size: 22px;
}

.content h2,
.content p,
.content .treatments-container {
  margin-left: 15px;
  margin-right: 15px;
}

.btn, .submit-btn {
  padding: 10px 20px;
  background-color: #263c49;
  font-weight: 200;
  text-decoration: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.submit-btn {
  font-weight: 400;
}

.modal-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

/*parallax*/
.parallax-appointment {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 52, 80, 0.9)), to(rgba(38, 60, 73, 0.7))), url(/images/barberpole.jpg);
  background: linear-gradient(rgba(8, 52, 80, 0.9), rgba(38, 60, 73, 0.7)), url(/images/barberpole.jpg);
}

.parallax-about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 52, 80, 0.9)), to(rgba(38, 60, 73, 0.7))), url(/images/about-parallax.jpg);
  background: linear-gradient(rgba(8, 52, 80, 0.9), rgba(38, 60, 73, 0.7)), url(/images/about-parallax.jpg);
}

.parallax-treatments {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 52, 80, 0.9)), to(rgba(38, 60, 73, 0.7))), url(/images/mes.jpg);
  background: linear-gradient(rgba(8, 52, 80, 0.9), rgba(38, 60, 73, 0.7)), url(/images/mes.jpg);
}

.parallax-webshop {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 52, 80, 0.9)), to(rgba(38, 60, 73, 0.7))), url(/images/cement-clay.jpg);
  background: linear-gradient(rgba(8, 52, 80, 0.9), rgba(38, 60, 73, 0.7)), url(/images/cement-clay.jpg);
}

.parallax-barbertrain {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 52, 80, 0.9)), to(rgba(38, 60, 73, 0.7))), url(/images/barbertrain-parallax.jpeg);
  background: linear-gradient(rgba(8, 52, 80, 0.9), rgba(38, 60, 73, 0.7)), url(/images/barbertrain-parallax.jpeg);
}

.parallax {
  height: 150px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 100px -17.5vw 0;
}

/*make appointment*/
.make-appointment .modal-btn-appointment {
  outline: none;
  border: none;
  text-decoration: underline;
}

.make-appointment .shops > div:first-child {
  margin-bottom: 50px;
}

.make-appointment .shop-container {
  width: 100%;
}

.make-appointment .shop-container [class*="container"] {
  height: 62.5vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.make-appointment .shop-container [class*="container"] a {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 1;
  width: 100%;
}

.make-appointment .store-hours {
  padding-top: 15px;
}

.make-appointment .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
}

.make-appointment .emmen-bg-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.2)), to(rgba(128, 128, 128, 0.4))), url(../../images/emmen-front-grey.jpg);
  background: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.4)), url(../../images/emmen-front-grey.jpg);
}

.make-appointment .zwolle-bg-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.2)), to(rgba(128, 128, 128, 0.4))), url(../../images/Stellar-Bakkes-13-grey.jpg);
  background: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.4)), url(../../images/Stellar-Bakkes-13-grey.jpg);
}

/*about*/
.glide {
  position: relative;
}

.glide button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.glide button:focus {
  outline: 0;
}

.glide img {
  width: 100%;
  height: 100%;
}

.glide__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.glide__arrows button {
  font-size: 35px;
  opacity: 0.5;
}

.glide__arrows button:hover {
  opacity: 0.8;
}

.glide__bullet--active {
  opacity: 0.5;
}

/*treatments*/
.treatments .treatments-container {
  margin-top: 50px;
}

.treatments .treatments-container .category-container {
  margin-bottom: 40px;
  padding: 0;
}

.treatments .treatments-container .treatment-list {
  padding: 0;
}

.treatments .treatments-container .treatment-list .treatment-card {
  list-style-type: none;
  margin: 15px 0;
}

.treatments .treatments-container .treatment-list .treatment-card .card-text {
  margin-right: 15px;
  margin-left: 10px;
}

.treatments .treatments-container .treatment-list .treatment-card .card-text img {
  float: right;
  margin-left: 10px;
  width: 35%;
}

.treatments .treatments-container .treatment-list .treatment-card .card-text h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.treatments .treatments-container .treatment-list .treatment-card .card-text p {
  font-size: 8px;
  margin: 0;
}

/*webshop and barbertrain*/
.main-container {
  margin: 40px 0;
}

.main-container img {
  width: 100%;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-container a {
  padding: 10px 20px;
  margin: 40px auto;
}

/*contact*/
.contact-container {
  margin-top: 40px;
}

.contact-form-container .title {
  margin-bottom: 0;
}

.contact-form-container form {
  margin-bottom: 40px;
}

.contact-form-container form .form-group {
  position: relative;
  margin: 0 15px;
}

.contact-form-container form .form-group input::-webkit-input-placeholder, .contact-form-container form .form-group textarea::-webkit-input-placeholder {
  color: #777;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.contact-form-container form .form-group input:-ms-input-placeholder, .contact-form-container form .form-group textarea:-ms-input-placeholder {
  color: #777;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  transition-delay: 0.1s;
}

.contact-form-container form .form-group input::-ms-input-placeholder, .contact-form-container form .form-group textarea::-ms-input-placeholder {
  color: #777;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  transition-delay: 0.1s;
}

.contact-form-container form .form-group input::placeholder, .contact-form-container form .form-group textarea::placeholder {
  color: #777;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.contact-form-container form .form-group input:focus::-webkit-input-placeholder, .contact-form-container form .form-group textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form-container form .form-group input:focus:-ms-input-placeholder, .contact-form-container form .form-group textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form-container form .form-group input:focus::-ms-input-placeholder, .contact-form-container form .form-group textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-form-container form .form-group input:focus::placeholder, .contact-form-container form .form-group textarea:focus::placeholder {
  color: transparent;
}

.contact-form-container form .form-group span {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 14px;
  background-color: white;
  padding: 0 5px;
  z-index: 2000;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.contact-form-container form .input {
  width: 100%;
  margin: 20px 0;
  border: 2px solid #263c49;
  padding: 10px 20px;
  outline: none;
  z-index: 1000;
}

.contact-form-container form .textarea textarea {
  resize: none;
  overflow-y: auto;
  height: 100px;
}

.contact-form-container form .submit-btn {
  margin: auto;
}

.contact-shop-container {
  margin-top: 40px;
}

.contact-shop-container .contact-info {
  margin: 10px 15px 20px 15px;
}

.contact-shop-container .contact-info a {
  text-decoration: none;
  color: black;
}

.contact-shop-container .contact-info .social-media {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-shop-container .contact-info .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-shop-container .contact-info .social-media i {
  color: #000;
  font-size: 24px;
  margin-left: 15px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.contact-shop-container .map-info-container iframe {
  width: 100%;
  height: 50vw;
}

/*footer*/
footer {
  background-color: black;
  padding: 10px 0;
  font-size: 10px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  color: white;
}

footer ul li p {
  margin: auto;
}

footer ul li .modal-btn {
  color: white;
  outline: none;
  border: none;
}

footer ul .footer-group {
  width: 100vw;
}

/*modal*/
body, nav {
  padding-right: 0px !important;
}

.contact-modal .modal, .contact-modal #backdrop {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.contact-modal .modal-open {
  overflow-y: auto;
}

.modal-content {
  padding: 5px;
  border-radius: 0;
  border: 2px solid #263c49;
}

.main-modal .modal-header {
  padding-left: 21px;
}

.main-modal .modal-body {
  text-align: start;
}

.modal-body {
  padding: 20px;
  border: 2px solid #263c49;
  text-align: center;
}

.modal-body h4 {
  margin-bottom: 5px;
  font-size: 20px;
}

.modal-body h4:not(.first-title-top) {
  margin-top: 24px;
}

.modal-body p {
  font-size: 12px;
}

.modal-body p:last-of-type {
  margin-bottom: 0;
}

@media (hover: hover) {
  .content a:hover, .content .submit-btn:hover {
    text-decoration: underline;
    color: white;
  }
  .content .social-media i:hover {
    color: #37586b;
  }
  .content .social-media a:hover {
    text-decoration: none;
  }
  .modal-btn:hover {
    text-decoration: underline;
  }
  .shop-container [class*="container"]:hover {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .emmen-bg-container:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 39, 48, 0.9)), to(rgba(38, 60, 73, 0.8))), url(../../images/emmen-front.jpg);
    background: linear-gradient(rgba(25, 39, 48, 0.9), rgba(38, 60, 73, 0.8)), url(../../images/emmen-front.jpg);
  }
  .zwolle-bg-container:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 39, 48, 0.9)), to(rgba(38, 60, 73, 0.8))), url(../../images/Stellar-Bakkes-13.jpg);
    background: linear-gradient(rgba(25, 39, 48, 0.9), rgba(38, 60, 73, 0.8)), url(../../images/Stellar-Bakkes-13.jpg);
  }
}

@media (hover: none) {
  .glide__arrows button {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .intro h1 {
    font-size: 150px;
  }
  .intro h2 {
    font-size: 50px;
  }
  .content {
    width: 70vw;
  }
  .content > section > p {
    margin-left: 0;
    margin-right: 0;
  }
  .content h2, .content p, .content .treatments-container, .content .social-media {
    margin-left: 0;
    margin-right: 0;
  }
  .content .shop-container [class*="container"] {
    height: 43.75vw;
  }
  .parallax {
    height: 200px;
  }
  .contact-form-container form .form-group {
    margin: 0;
  }
  .contact-shop-container .map-info-container iframe {
    height: 30vw;
  }
  .contact-shop-container .contact-info {
    margin: 10px 0 20px 0;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
  }
  .navbar #navbarSupportedContent {
    height: 74px;
  }
  .navbar #navbarSupportedContent ul {
    height: 74px;
  }
  .navbar #logo {
    margin: 10px 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar .nav-link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .active {
    background-color: #263c49;
  }
}

@media only screen and (min-width: 992px) {
  .make-appointment .shops > div:first-child {
    margin-bottom: 0px;
  }
  .content > section {
    min-height: 50vh;
  }
  .content .shop-container {
    width: 49%;
  }
  .content .shop-container [class*="container"] {
    height: 21.875vw;
  }
  .content .contact-form-container {
    width: 47%;
  }
  .content .contact-shop-container {
    width: 47%;
    margin-top: 0;
  }
  .content .contact-shop-container iframe {
    width: 100%;
    height: 17.5vw;
  }
  .main-container .text-container {
    padding-right: 20px;
  }
  .main-container img {
    width: 60%;
  }
  .main-container a {
    margin: auto;
  }
  footer {
    font-size: 14px;
    padding: 20px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .content .shop-container .hours {
    font-size: 16px;
  }
  .content .map-info-container iframe {
    height: 12vw;
  }
  .content .map-info-container .contact-info p {
    margin-bottom: 5px;
  }
  footer {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */